lightweight-clustering-example/src/main/app/mule-ce-lightweight-clustering.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:lightweight-clustering="http://www.mulesoft.org/schema/mule/lightweight-clustering" xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.mulesoft.org/schema/mule/lightweight-clustering http://www.mulesoft.org/schema/mule/lightweight-clustering/current/mule-lightweight-clustering.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <lightweight-clustering:config name="LightweightClustering" instanceName="mule-ce-lighweight-clustering" doc:name="LightweightClustering"/>

    <context:property-placeholder location="classpath:application.properties"/>
    <objectstore:config name="clusteredObjectStore" objectStore-ref="LightweightClustering" doc:name="ObjectStore"/>
	
    <flow name="fileConnectorFlow" doc:name="fileConnectorFlow">
        <file:inbound-endpoint path="./test1" responseTimeout="10000" doc:name="File" moveToDirectory="./test1-ready"/>
        <logger level="INFO" doc:name="Logger" message="File read with filename #[message.inboundProperties.'filename']"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    <flow name="pollingFlow" doc:name="pollingFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="60000"/>
            <expression-component doc:name="Random List"><![CDATA[l = [];
loop = 10000;
r = new java.util.Random();

for (int i=0; i<loop; i++){
	l.add(r.nextInt(loop));
}

payload = l;]]></expression-component>
        </poll>
        <logger message="Random list completed, sending to clustered VM" level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each">
            <lightweight-clustering:enqueue config-ref="LightweightClustering" queue="test.queue" doc:name="LightweightClustering test.queue"/>
        </foreach>
        <logger message="Ready sending events" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="clusteringDequeue" doc:name="clusteringDequeue">
        <lightweight-clustering:dequeue config-ref="LightweightClustering" queue="test.queue" doc:name="LightweightClustering test.queue"/>
        <logger message="Received message from clustered queue: #[message.payload]" level="DEBUG" doc:name="Logger"/>
    </flow>
    <flow name="mule-ce-lightweight-clusteringFlow1" doc:name="mule-ce-lightweight-clusteringFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="object-store/put" doc:name="HTTP"/>
        <objectstore:store config-ref="clusteredObjectStore" key="value" value-ref="#[message.payload]" doc:name="ObjectStore"/>
    </flow>
    <flow name="mule-ce-lightweight-clusteringFlow2" doc:name="mule-ce-lightweight-clusteringFlow2">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="object-store/get" doc:name="HTTP"/>
        <objectstore:retrieve config-ref="clusteredObjectStore" key="value" doc:name="ObjectStore"/>
    </flow>
</mule>
